body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #0073e6;
  color: white;
  padding: 15px;
  text-align: center;
  position: relative;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}

main {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  margin: 20px auto;
  width: 60%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  font-size: 20px;
}

#post-section {
  margin-top: 30px;
}

#posts-list {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.post {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-content {
  flex: 1;
  margin-right: 10px;
}

button.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

h2 {
  color: #0073e6;
  margin-bottom: 20px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

#post-section {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

#posts-list {
  margin-top: 50px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-size: 15px;
}

#post-name{
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}

#post-input{
  padding: 20px;
  margin-bottom: 10px;
}

.post {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-content {
  flex: 1;
  margin-right: 10px;
}


button.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.delete-btn:hover {
  background-color: #e63946;
}

@media(max-width: 360px){
  .lesson-four{
    display: none;
  }
  nav a{
    margin-right: 0;
  }
  main{
    padding: 20px;
    margin: 0;
    width: 88%;
    border-radius: 0px;
  }
}
